aside {
  float: left;
  background-color: blue;
  width: 15%;
  height: 600px;


}
.main
{
  float: left;
  width: 80%;
  padding-left: 5%;


}
#contact {
text-align: center;

}

h1 {
  font-size: 45px;
}
