* {
    background-color: #F2F2FF;
    font-family: "times new roman";
}

.menu {
    display: inline;
    width: 87%;
    padding-left: 12%;
    font-size: 20px;
    font-weight: bold;
}

aside {
    float: left;
    background-color: #00bfff;
    width: 5%;
    height: 1000px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding-top: 5%;
}

.main {
    float: left;
    width: 80%;
    padding-left: 5%;
}

#photo {
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 2%;
    width: auto;
    float: left;
}

#contact {
    text-align: left;
    padding: 2% 0;
    width: 73%;
}

#skills {
    padding-top: 2%;
}

#exp {
    padding-top: 2%;
}

.job {
    font-weight: bold;
    padding-top: 1%;
}

#edu {
    padding-top: 2%;
    padding-bottom: 5%;
}

.univ {
    font-weight: bold;
    padding-top: 1%;
}

#website {
    font-size: 20px;
}

h1 {
    font-size: 45px;
}
