body{

}
thead{
  background-color: #2c3442;
  color: #ffffff;
}
.price{
  margin-top: 0;
}
.futures {
  background-color: #3399ff;
  color:#ffffff;
}
.first-colum>.fa {
  color: red;
}
.second-colum >.fa{
  color: green;
}
.third-colum >.fa{
  color: blue;
}

#one{
  background-color: red;
  color: #ffffff;
}
#two{
  background-color: green;
  color: #ffffff;
}

#three{
  background-color: blue;
  color: #ffffff;
}

td {
  border: 0;
  margin: 0;  
  text-align: center;
}
