.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .map-section {
      display: flex;
  }

  .form-div {
      flex: 1;
      text-align: center;
      align-self: center;
  }

  .map {
      flex: 1;
      text-align: center;
  }

  #map {
      height: 400px;
      width: 100%;
  }

  .video {
      display: flex;
      text-align: center;
  }

  .video>p {
      padding: 50px 50px 0 100px;
      font-weight: bold;
  }
