

body {
background-color: lightblue;
width: 90%;

}

header {
  padding-bottom: 5%;
    padding-left: auto;
  padding-right: auto;
text-align: center;
}

aside {
position: relative;
float: right;
width: 10%;
height: 1630px;
background-color: white;

}


article {
  margin-left:
  width: 70%;
  margin-left: 3%;
  padding-right: 3%;
}

h1 {
font-size: 60px;

}

img {
  position: relative;
  padding-top: 3%;

}

p {
  position: relative;
  width: 50%;
  padding-bottom: 3%;
}



#posts {
  position: relative;
  float: left;
display: inline;
  padding-top: 5%;
}

h6 {

font-size: 16px;
clear: right;
}

p {
text-align: left;
font-size: 12px;

}
