

body {
background-color: lightblue;
width: 90%;

}

header {
  padding-bottom: 5%;
    padding-left: auto;
  padding-right: auto;
text-align: center;
}

aside {
position: relative;
float: right;
width: 10%;
height: 1630px;
background-color: white;

}


article {
  margin-left:
  width: 70%;
  margin-left: 3%;
  padding-right: 3%;
}

h1 {
font-size: 60px;

}

img {
  display:inline-block;
  width: 20%;
  height: auto;
  padding-top: 3%;

}

p {
  text-align: left;
  font-size: 17px;
  padding-bottom: 1%;
}

.content {
  display:inline-block;
  width: 40%;
  padding-left: 8px;
}

h6 {

font-size: 16px;
clear: right;
}
