body {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  align-items: center;
}

.top-logo {
  padding-left: 50px;
  flex: 1;
}

.top-logo > img {
  height: 69.612px;
  width: 290px;
}

nav {
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: baseline;
}

a {
  text-decoration: none;
}

.fa-commenting {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.first {
  background-image: url("../img/wine-bg1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
  padding-bottom: 300px;
}

.description-logo {
  font-size: 25px;
  color: #ffffff;
}

span {
  font-size: 13px;
  color: #ffffff;
}

.second {
  display: flex;
  flex-direction: column;
  background-image: url("../img/wine-bg2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
}

.second-top {
  display: flex;
}
.description-top2nd {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 200px 0 200px;
  background-color: #ffffff;
}

.description-top2nd > img {
  width: 178px;
  height: 80px;
}

.side-img {
  flex: 1;
}

h5, p {
  font-size: 16px;
}

h5 {
  24px;
}

.second-bottom{
  color: #ffffff;
  padding: 400px 700px 400px 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h3{
  font-size: 32px;
  color: #ffffff;
}

.third {
  display: flex;
  flex-direction: column;
  background-image: url("../img/wine-bg3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.third-top {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding-bottom: 100px;
}

.wines-bottle{
  width: 280px;
  margin-right: 30px;
  text-align: center;
}
.wines-bottle > img {
  width: 210px;
  height: 529px;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  margin-left: 30px;
}

.wines-bottle > hr {
  margin-top: 0;
  padding-top: 0;
}

h4 {
  font-size: 24px;
}

.wines-bottle > a {
  background-color: #91a05c;
  color: #ffffff;
  padding: 10px 25px 10px 25px;
}
.third-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 300px 0 300px 0;
}

.medal {
  text-align: center;
}

.medal > img {
  width: 210px;
  height: 210px;
  padding: 50px 90px 0 90px;
}

.main-medals {
  display: flex;
  color: #ffffff;
}

footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
}

.footer-top>img {
  flex: 1;
  width: 1055px;
  height: 640px;
}

.side-description-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 150px;
}
