body {
  background-color: #207ce5:

}

img {
  border-radius:  50%;
}

h1{
  background-position: right;;
  flex-flow: wrap;
}
bane {
  border-spacing: 50px;
  margin: 75%;
  overflow: auto;
  width: 100%;

}
