
*{
  text-align: center;
}
body {
  background-color: #207ce5:
  text-align:center;
}
img {
  border-radius:  75%;
  text-align: center;
  height: 25%;
  width: 25%;
  position: relative;
}

h1{
  background-position: right;
  flex-flow: wrap;
  text-align: center;
}
bane {
position: relative;
border-spacing: 50px;
margin: 75%;
overflow: auto;
width: 100%;
text-align: center;
height: 25%;
width: 25%;
}
p {
  text-align: center;
ß
}
